div(id="logout-alert" style="z-index: 300;" class="hidden fixed left-0 top-0 bottom-0 right-0 flex justify-center items-center font-IRanSans bg-slate-600 bg-opacity-60 backdrop backdrop-blur-sm")
    div(class="relative bg-white rounded-sm flex p-6 md:px-8 shadow-[1px_2px_10px_-2px_rgba(0,0,0,0.5)]")
        i(id="logout-close" class="fa-solid fa-xmark absolute text-xl top-1.5 right-2 cursor-pointer")
        div(class="mt-3")
            div(class="flex justify-center items-center")
                i(class="fa-solid fa-triangle-exclamation text-2xl md:text-3xl ml-3")
                p(class="text-sm md:text-base") مایل‌اید که از حساب خود خارج شوید؟
            div(class="mt-8")
                button(id="logout-ok" class="bg-red text-white w-[48%] py-2 ml-2 rounded-sm cursor-pointer text-sm") بله!
                button(id="logout-cancel" class="bg-slate-700 text-white w-[48%] py-2 rounded-sm cursor-pointer text-sm") لغو

nav(id="navbar" class="fixed top-0 w-full bg-bg flex items-center justify-between md:justify-start h-16 px-4 bg-opacity-60 backdrop backdrop-blur-md md:h-[74px] z-30 md:px-[120px]")
    div
        img(src="/imgs/logo.svg" class="w-16 md:w-20" alt="")
    div(class="hidden md:flex gap-6 mr-14")
        a(href="/" class="font-IRanSans text-sm text-slate-900 hover:text-red transition-colors duration-300") صفحه اصلی
        a(href="/products" class=" font-IRanSans text-sm text-slate-900 hover:text-red transition-colors duration-300") محصولات
        a(href="/order" class=" font-IRanSans text-sm text-slate-900 hover:text-red transition-colors duration-300") سفارش نقاشی
        a(href="/artists" class=" font-IRanSans text-sm text-slate-900 hover:text-red transition-colors duration-300") هنرمندان
        a(href="/about" class=" font-IRanSans text-sm text-slate-900 hover:text-red transition-colors duration-300") درباره ما
        a(href="/contact" class=" font-IRanSans text-sm text-slate-900 hover:text-red transition-colors duration-300") تماس باما


    if user
        div(class="mr-auto hidden md:flex items-center")
            div(class="ml-6")
                button(id="logout-btn" class="font-IRanSans text-xs bg-slate-700 text-white px-6 py-2 ml-2 rounded-sm hover:scale-105 transition-all duration-300") خروج 
                button(class="font-IRanSans text-xs bg-red text-white px-4 py-2 rounded-sm hover:scale-105 transition-all duration-300") سبد خرید
            div(class="font-IRanSans flex items-center")
                p(class="text-sm ml-4")= user.name
                div(class="h-12 w-12 rounded-full")
                    img(class="w-full h-full object-cover rounded-full" src=`/imgs/user/${user.photo}` alt="")
    else 
        div(class="hidden md:flex gap-4 mr-auto")
            button(id="btn-login", class="bg-reddShade text-white text-xs font-IRanSans w-28 py-2 text-center rounded-sm") ورود به حساب
            button(id="btn-signup" class="bg-reddShade text-white text-xs font-IRanSans w-28 py-2 text-center rounded-sm") ایجاد حساب

    span(class="md:hidden")
        i(id="navbar-menu" class="fa-solid fa-bars text-slate-800 text-2xl ml-1")

div(id="navbar-mobile__wrapper" class="hidden fixed bg-opacity-70 backdrop backdrop-blur-sm top-0 w-full h-full bg-slate-900 z-40 md:hidden")
div(id="navbar-mobile" class="hidden fixed pt-10 top-0 flex-col bg-bg h-full w-[80%] z-50 animate-[pull_0.3s_ease-in] md:hidden")
    i(id="navbar-mobile__close" class="fa-solid fa-xmark absolute top-2 left-3 text-slate-800 text-2xl")
    
    if user
        div(class="text-center")
            div(class="mx-auto border w-28 h-28 rounded-full overflow-hidden")
                img(src=`/imgs/user/${user.photo}` alt="Profile" class="w-full")
            p(class="font-IRanSans text-slate-800 text-lg mt-2")= user.name
    else
        div(class="text-center")
            div(class="mx-auto w-28 h-28 overflow-hidden")
                img(src=`/imgs/logo.svg` alt="logo" class="w-full")

    div(class="text-slate-800 mr-8")

        if user 
            a(href="#" class="flex justify-start items-center w-[70%] mt-4 px-2 py-1 rounded-sm hover:text-red")
                i(class="fa-solid fa-user-plus text-xl ml-2")
                span(class="font-IRanSans") سبد خرید

            a(href="#" class="flex justify-start items-center w-[70%] mt-2 px-2 py-1 rounded-sm hover:text-red")
                i(class="fa-solid fa-right-to-bracket text-xl ml-2 mr-1")
                span(class="font-IRanSans") تنظیمات حساب
            li(id="mobile-logout-btn" class="flex justify-start items-center w-[70%] mt-1 px-2 py-1 rounded-sm hover:text-red")
                i(class="fa-solid fa-right-to-bracket text-xl ml-2 mr-1")
                span(class="font-IRanSans") خروج
        
        else 
            li(id="mobile-signup-btn" class="flex justify-start items-center w-[70%] mt-4 px-2 py-1 rounded-sm hover:text-red")
                i(class="fa-solid fa-user-plus text-xl ml-2")
                span(class="font-IRanSans") ایجاد حساب

            li(id="mobile-login-btn" class="flex justify-start items-center w-[70%] mt-2 px-2 py-1 rounded-sm hover:text-red")
                i(class="fa-solid fa-right-to-bracket text-xl ml-2 mr-1")
                span(class="font-IRanSans") ورود به حساب

    hr(class="w-[80%] mx-auto mt-3 border-slate-500")
    div(class="mx-8 text-slate-800 mt-4") 
        ul
            li(class="flex justify-start items-center font-IRanSans  px-2 pt-1 pb-1 rounded-lg hover:text-red")
                i(class="fa-solid fa-house text-xl ml-2")
                a(href="/" class="inline-block w-full") صفحه اصلی 

            li(class=" flex justify-start items-center font-IRanSans  px-2 pt-1 mt-1 pb-1 rounded-lg hover:text-red")
                i(class="fa-solid fa-palette text-xl ml-3")
                a(href="/products" class="inline-block w-full") تابلوها

            li(class=" flex justify-start items-center font-IRanSans  px-2 pt-1 mt-1 pb-1 rounded-lg hover:text-red") 
                i(class="fa-solid fa-basket-shopping text-xl ml-2")
                a(href="/order" class="inline-block w-full") سفارش نقاشی

            li(class="flex justify-start items-center font-IRanSans px-2 pt-1 mt-1 pb-1 rounded-lg hover:text-red")
                i(class="fa-solid fa-clipboard-user text-2xl ml-[10px] mr-[2px]")
                a(href="/artists" class="inline-block w-full") هنرمندان

            li(class=" flex justify-start items-center font-IRanSans  px-2 pt-1 mt-1 pb-1 rounded-lg hover:text-red")
                i(class="fa-solid fa-map text-xl ml-2")
                a(href="/about" class="inline-block w-full") درباره ما

            li(class=" flex justify-start items-center font-IRanSans  px-2 pt-1 mt-1 pb-1 rounded-lg hover:text-red")
                i(class="fa-solid fa-phone-volume text-xl ml-2")
                a(href="/contact" class="inline-block w-full") تماس با ما