extends dashbase 

block content
    div(class="w-[85%] mr-[15%] flex pt-24 px-6")
        div(class="flex flex-1 h-36 p-3 mx-2 shadow-md rounded-sm bg-bgShade")
            div(class="w-full flex flex-col justify-between items-center")
                span(class="font-bold text-slate-700 font-IRanSans") تعداد کاربرها
                span(class="text-2xl font-light") 123412
                a(class="text-sm border-b-[1px] text-slate-600 border-slate-400") مشاهده همه کابرها

        div(class="flex flex-1 h-36 p-3 mx-2 shadow-md rounded-sm bg-bgShade")
            div(class="w-full flex flex-col justify-between items-center")
                span(class="font-bold text-slate-700 font-IRanSans") تعداد تعداد تابلوها
                span(class="text-2xl font-light") 123412
                a(class="text-sm border-b-[1px] text-slate-600 border-slate-400") مشاهده همه کابرها

        div(class="flex flex-1 h-36 p-3 mx-2 shadow-md rounded-sm bg-bgShade")
            div(class="w-full flex flex-col justify-between items-center")
                span(class="font-bold text-slate-700 font-IRanSans") تعداد سفارشات
                span(class="text-2xl font-light") 123412
                a(class="text-sm border-b-[1px] text-slate-600 border-slate-400") مشاهده همه کابرها

        div(class="flex flex-1 h-36 p-3 mx-2 shadow-md rounded-sm bg-bgShade")
            div(class="w-full flex flex-col justify-between items-center")
                span(class="font-bold text-slate-700 font-IRanSans") تعداد نظرات
                span(class="text-2xl font-light") 123412
                a(class="text-sm border-b-[1px] text-slate-600 border-slate-400") مشاهده همه کابرها
