extends dashbase 

block content
    div(class="w-[85%] mr-[15%] flex pt-24 px-6")
        div(class="flex flex-1 h-32 p-3 mx-2 shadow-sm rounded-sm bg-bgShade")
            div(class="w-full flex flex-col justify-around")
                span(class="font-bold text-xl mr-3 text-slate-700 font-IRanSans") فروشات حضوری
                span(id="user-counter" class="text-4xl self-end ml-3 text-ored-800 font-semibold")= inpersonSales
                

        div(class="flex flex-1 h-32 p-3 mx-2 shadow-sm rounded-sm bg-bgShade")
            div(class="w-full flex flex-col justify-around")
                span(class="font-bold text-xl mr-3 text-slate-700 font-IRanSans") فروشات آنلاین
                span(id="artwork-counter" class="text-4xl self-end ml-3 text-ored-800 font-semibold")= onlineSales
                

        div(class="flex flex-1 h-32 p-3 mx-2 shadow-sm rounded-sm bg-bgShade")
            div(class="w-full flex flex-col justify-around")
                span(class="font-bold text-xl mr-3 text-slate-700 font-IRanSans") تعداد سفارشات
                span(id="order-counter" class="text-4xl self-end ml-3 text-ored-800 font-semibold")= countOrders
                

        div(class="flex flex-1 h-32 p-3 mx-2 shadow-sm rounded-sm bg-bgShade")
            div(class="w-full flex flex-col justify-around")
                span(class="font-bold text-xl mr-3 text-slate-700 font-IRanSans") درآمد ماه جاری
                span(id="" class="text-4xl self-end ml-3 text-ored-800 font-semibold")= monthlySales

    div( class="mr-[15%] px-8")
        div(class="relative mx-auto mt-6 bg-white rounded-sm flex p-6 shadow-md")
            canvas(id="myChart" style="width:100%;height:390px")
                
