section(id="signup-container", class="hidden fixed top-0 left-0 right-0 bottom-0 bg-slate-700 bg-opacity-60 backdrop-blur-[2px] z-50 flex justify-center pt-24 md:pt-10")
    div(class="relative w-[80%] md:w-[30%] h-[80%] md:h-[97%] bg-white rounded-md px-4 md:px-6 py-8 text-center") 
        i(id="btn-signup-close" class="fa-solid fa-xmark absolute top-2 right-3 text-xl text-slate-800 cursor-pointer")
        h1(class="inline-block text-2xl font-mehr border-b-4 border-red") ایجاد حساب

        form(class="flex flex-col items-start py-4 px-2 mt-4")
            label(for="signup-name" class="font-IRanSans mr-2") نام
            input(type="text" name="signup-name" id="signup-name" placeholder="علی علوی" class="w-full font-IRanSans bg-slate-200 px-2 pt-1 pb-[5px] outline-none rounded-sm mt-1" required)

            label(for="email" class="font-IRanSans mt-2 mr-2") ایمیل
            input(type="email" name="signup-email" id="signup-email" placeholder="example@gmail.com" class="w-full bg-slate-200 px-2 pt-1 pb-[5px] outline-none rounded-sm mt-1" required)

            label(for="signup-password" class="font-IRanSans mt-2 mr-2") رمز عبور
            input(type="password" name="signup-password" id="signup-password" placeholder="••••••" class="w-full bg-slate-200 px-2 py-1 outline-none rounded-sm mt-1" required)

            label(for="signup-passwordConfirm" class="font-IRanSans mt-2 mr-2") تائید رمز عبور
            input(type="password" name="signup-passwordConfirm" id="signup-passwordConfirm" placeholder="••••••" class="w-full bg-slate-200 px-2 py-1 outline-none rounded-sm mt-1" required)

            div(class="flex")
                label(for="signup-image" class="font-IRanSans text-sm mt-4 mr-1 bg-slate-700 text-white rounded-sm py-1 px-3 md:pt-2 md:pb-2 md:px-6 cursor-pointer") عکس نمایه
                input(type="file" name="signup-image" id="signup-image" accept="images/jpeg,jpg,png" class="hidden" required)


            button(id="signup-user-btn" class="font-IRanSans w-full text-white self-center mt-6 pt-2 pb-2 px-16  bg-red rounded-sm") ایجاد

