extends base

block content
    section(class="pt-24 text-center md:w-[80%] mx-auto")
        h1(class="inline-block text-3xl md:text-4xl font-mehr border-b-4 border-red") هنرمندان

        div(class="flex justify-center flex-wrap mt-4 md:mt-6")

            div(class="w-[70%] md:mx-2 mt-4 md:w-[23%] overflow-hidden bg-bgShade border-2 border-bgShade hover:bg-transparent p-3 pb-4 rounded-sm")
                img(class="rounded-sm mb-4" src="/imgs/team-member-2.jpg" alt="")
                p(class="font-IRanSans md:text-lg font-semibold text-red") محمد رضا قاسمی
                    div(class="text-3xl md:text-4xl mt-2 text-redd")
                        a(href="#")
                            i(class="fa-brands fa-square-instagram hover:text-red")
                        a(href="#" class="mx-1")
                            i(class="fa-brands fa-square-whatsapp hover:text-red")
                        a(href="#")
                            i(class="fa-solid fa-circle-info hover:text-red")

            div(class="w-[70%] md:mx-2 mt-4 md:w-[23%] overflow-hidden bg-bgShade border-2 border-bgShade hover:bg-transparent p-3 pb-4 rounded-sm")
                img(class="rounded-sm mb-4" src="/imgs/team-member-2.jpg" alt="")
                p(class="font-IRanSans md:text-lg font-semibold text-red") محمد رضا قاسمی
                    div(class="text-3xl md:text-4xl mt-2 text-redd")
                        a(href="#")
                            i(class="fa-brands fa-square-instagram hover:text-red")
                        a(href="#" class="mx-1")
                            i(class="fa-brands fa-square-whatsapp hover:text-red")
                        a(href="/artists/1111111111")
                            i(class="fa-solid fa-circle-info hover:text-red")

            div(class="w-[70%] md:mx-2 mt-4 md:w-[23%] overflow-hidden bg-bgShade border-2 border-bgShade hover:bg-transparent p-3 pb-4 rounded-sm")
                img(class="rounded-sm mb-4" src="/imgs/team-member-3.jpg" alt="")
                p(class="font-IRanSans md:text-lg font-semibold text-red") محمد رضا قاسمی
                    div(class="text-3xl md:text-4xl mt-2 text-redd")
                        a(href="#")
                            i(class="fa-brands fa-square-instagram hover:text-red")
                        a(href="#" class="mx-1")
                            i(class="fa-brands fa-square-whatsapp hover:text-red")
                        a(href="#")
                            i(class="fa-solid fa-circle-info hover:text-red")

            div(class="w-[70%] md:mx-2 mt-4 md:w-[23%] overflow-hidden bg-bgShade border-2 border-bgShade hover:bg-transparent p-3 pb-4 rounded-sm")
                img(class="rounded-sm mb-4" src="/imgs/team-member-4.jpg" alt="")
                p(class="font-IRanSans md:text-lg font-semibold text-red") محمد رضا قاسمی
                    div(class="text-3xl md:text-4xl mt-2 text-redd")
                        a(href="#")
                            i(class="fa-brands fa-square-instagram hover:text-red")
                        a(href="#" class="mx-1")
                            i(class="fa-brands fa-square-whatsapp hover:text-red")
                        a(href="#")
                            i(class="fa-solid fa-circle-info hover:text-red")

            div(class="w-[70%] md:mx-2 mt-4 md:w-[23%] overflow-hidden bg-bgShade border-2 border-bgShade hover:bg-transparent p-3 pb-4 rounded-sm")
                img(class="rounded-sm mb-4" src="/imgs/team-member-2.jpg" alt="")
                p(class="font-IRanSans md:text-lg font-semibold text-red") محمد رضا قاسمی
                    div(class="text-3xl md:text-4xl mt-2 text-redd")
                        a(href="#")
                            i(class="fa-brands fa-square-instagram hover:text-red")
                        a(href="#" class="mx-1")
                            i(class="fa-brands fa-square-whatsapp hover:text-red")
                        a(href="#")
                            i(class="fa-solid fa-circle-info hover:text-red")

            div(class="w-[70%] md:mx-2 mt-4 md:w-[23%] overflow-hidden bg-bgShade border-2 border-bgShade hover:bg-transparent p-3 pb-4 rounded-sm")
                img(class="rounded-sm mb-4" src="/imgs/team-member-3.jpg" alt="")
                p(class="font-IRanSans md:text-lg font-semibold text-red") محمد رضا قاسمی
                    div(class="text-3xl md:text-4xl mt-2 text-redd")
                        a(href="#")
                            i(class="fa-brands fa-square-instagram hover:text-red")
                        a(href="#" class="mx-1")
                            i(class="fa-brands fa-square-whatsapp hover:text-red")
                        a(href="#")
                            i(class="fa-solid fa-circle-info hover:text-red")

            div(class="w-[70%] md:mx-2 mt-4 md:w-[23%] overflow-hidden bg-bgShade border-2 border-bgShade hover:bg-transparent p-3 pb-4 rounded-sm")
                img(class="rounded-sm mb-4" src="/imgs/team-member-4.jpg" alt="")
                p(class="font-IRanSans md:text-lg font-semibold text-red") محمد رضا قاسمی
                    div(class="text-3xl md:text-4xl mt-2 text-redd")
                        a(href="#")
                            i(class="fa-brands fa-square-instagram hover:text-red")
                        a(href="#" class="mx-1")
                            i(class="fa-brands fa-square-whatsapp hover:text-red")
                        a(href="#")
                            i(class="fa-solid fa-circle-info hover:text-red")

            div(class="w-[70%] md:mx-2 mt-4 md:w-[23%] overflow-hidden bg-bgShade border-2 border-bgShade hover:bg-transparent p-3 pb-4 rounded-sm")
                img(class="rounded-sm mb-4" src="/imgs/team-member-2.jpg" alt="")
                p(class="font-IRanSans md:text-lg font-semibold text-red") محمد رضا قاسمی
                    div(class="text-3xl md:text-4xl mt-2 text-redd")
                        a(href="#")
                            i(class="fa-brands fa-square-instagram hover:text-red")
                        a(href="#" class="mx-1")
                            i(class="fa-brands fa-square-whatsapp hover:text-red")
                        a(href="#")
                            i(class="fa-solid fa-circle-info hover:text-red")

            div(class="w-[70%] md:mx-2 mt-4 md:w-[23%] overflow-hidden bg-bgShade border-2 border-bgShade hover:bg-transparent p-3 pb-4 rounded-sm")
                img(class="rounded-sm mb-4" src="/imgs/team-member-3.jpg" alt="")
                p(class="font-IRanSans md:text-lg font-semibold text-red") محمد رضا قاسمی
                    div(class="text-3xl md:text-4xl mt-2 text-redd")
                        a(href="#")
                            i(class="fa-brands fa-square-instagram hover:text-red")
                        a(href="#" class="mx-1")
                            i(class="fa-brands fa-square-whatsapp hover:text-red")
                        a(href="#")
                            i(class="fa-solid fa-circle-info hover:text-red")
