doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel='icon', type='image/png', href='/imgs/logo.png')
        link(rel='stylesheet' href="/css/output.css")
        script(src="/js/navbar.js", defer)
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer")
        block head
        title= title
    
    body(class="bg-bg100")
        //- HEADER
        include _header

        //- LOGIN
        include _login

        //- SIGNUP
        include _signup

        //- CONTENT
        block content

        //- FOOTER
        include _footer

        script(src="/js/login.js" type="module")
        script(src="/js/signup.js" type="module")
        script(src="/js/updateMe.js" type="module")
        script(src="/js/cart.js" type="module")
        script(src="/js/filterArtwork.js" )
        if title == `جلوه‌های رنگین | صفحه اصلی`
            script(src="/js/swiper.js")
        if active == "order"
            script(src="/js/makeOrder.js" type="module")