extends base

block content
    section(class="pt-28 pb-8")
        div(class="relative overflow-hidden bg-white w-[85%] md:w-[60%] mx-auto rounded-sm pt-24 pb-32 md:pb-28 shadow-md z-20")
            h1(class="inline-block text-3xl font-mehr border-b-4 border-red md:text-white md:border-reddShade absolute top-8 left-8 md:right-8 md:left-[80%]") تماس با ما
            div(class="bg-slate-600 text-white mx-6 px-8 pt-6 pb-10 rounded-lg md:w-80 md:mr-14") 
                p(class="font-IRanSans text-lg") اطلاعات تماس
                ul(class="mt-4")
                    li(class="flex items-center justify-start ltr-div pb-1 border-b border-slate-500 cursor-pointer")
                        i(class="fa-brands fa-instagram text-3xl")
                        a(href="#" class="text-md ml-2 pb-1 cursor-pointer") @colorful_effects

                    li(class="flex items-center justify-start ltr-div py-2 border-b border-slate-500 cursor-pointer")
                        i(class="fa-brands fa-facebook text-3xl")
                        a(href="#" class="text-md ml-2") Colorful Effects

                    li(class="flex items-center justify-start ltr-div py-2 border-b border-slate-500 cursor-pointer")
                        i(class="fa-solid fa-mobile-screen-button text-3xl")
                        a(href="#" class="text-md ml-2") +93 777 31 2929

                    li(class="flex items-center justify-start ltr-div pt-2 cursor-pointer") 
                        i(class="fa-regular fa-envelope text-3xl")
                        a(href="#" class="text-md ml-2") info@gmail.com
                

            div(class="absolute h-full w-16 md:w-52 bg-red top-0 right-0 -z-10")
            div(class="absolute h-full w-[0.3rem] md:w-1 bg-red top-0 right-[4.3rem] md:right-[215px] -z-10")
            div(class="absolute md:hidden left-0 bottom-0 h-20 w-20 bg-slate-600 -z-10")
            div(class="absolute md:hidden left-16 bottom-16 h-10 w-10 bg-red -z-20")
            img(src="imgs/contact-bg.jpg" alt="" class="hidden md:block absolute left-0 bottom-0  bg-red -z-20") 